In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns

pd.set_option('display.max_columns', None)

In [2]:
data = pd.read_csv('../../rawdata/NQ/zanek_nq_5m_21_24.csv')

# Data Cleaning:

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212822 entries, 0 to 212821
Data columns (total 29 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   DateTime              212822 non-null  object
 1   Open                  212822 non-null  float64
 2   High                  212822 non-null  float64
 3   Low                   212822 non-null  float64
 4   Close                 212822 non-null  float64
 5   Ticks(from bar)       212822 non-null  int64
 6   Volume(from bar)      212822 non-null  int64
 7   Trades                212822 non-null  int64
 8   Buy trades            212822 non-null  int64
 9   Sell trades           212822 non-null  int64
 10  Volume                212822 non-null  int64
 11  Buy volume            212822 non-null  int64
 12  Buy volume, %         212822 non-null  float64
 13  Sell volume           212822 non-null  int64
 14  Sell volume, %        212822 non-null  float64
 15  Delta                 212822 non-null  int64
 16  Delta, %              212822 non-null  float64
 17  Average size          212822 non-null  float64
 18  Average buy size      212822 non-null  float64
 19  Average sell size     212822 non-null  float64
 20  Max one trade Vol.    212822 non-null  int64
 21  Max one trade Vol, %  212822 non-null  float64
 22  Filt. volume          212822 non-null  int64
 23  Filt. volume, %       212822 non-null  float64
 24  Filt. buy volume      212822 non-null  int64
 25  Filt. buy volume, %   212822 non-null  float64
 26  Filt. sell volume     212822 non-null  int64
 27  Filt. sell volume, %  212822 non-null  float64
 28  Unnamed: 28           0 non-null       float64
dtypes: float64(15), int64(13), object(1)
memory usage: 47.1+ MB

In [4]:
data.head()

,DateTime,Open,High,Low,Close,Ticks(from bar),Volume(from bar),Trades,Buy trades,Sell trades,Volume,Buy volume,"Buy volume, %",Sell volume,"Sell volume, %",Delta,"Delta, %",Average size,Average buy size,Average sell size,Max one trade Vol.,"Max one trade Vol, %",Filt. volume,"Filt. volume, %",Filt. buy volume,"Filt. buy volume, %",Filt. sell volume,"Filt. sell volume, %",Unnamed: 28
0,10/17/2021 9:45:00 PM -05:00,15096.00,15097.00,15088.75,15095.00,546,580,546,0,0,580,286,49.310345,294,50.689655,-8,-1.379310,1.062271,0.0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,NaN
1,10/17/2021 9:50:00 PM -05:00,15095.25,15103.25,15093.00,15100.50,477,499,477,0,0,499,248,49.699399,251,50.300601,-3,-0.601202,1.046122,0.0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,NaN
2,10/17/2021 9:55:00 PM -05:00,15100.25,15107.00,15099.75,15104.00,315,328,315,0,0,328,171,52.134146,157,47.865854,14,4.268293,1.041270,0.0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,NaN
3,10/17/2021 10:00:00 PM -05:00,15104.25,15105.00,15097.00,15104.75,437,455,437,0,0,455,217,47.692308,238,52.307692,-21,-4.615385,1.041190,0.0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,NaN
4,10/17/2021 10:05:00 PM -05:00,15104.75,15106.75,15102.00,15105.50,251,284,251,0,0,284,127,44.718310,157,55.281690,-30,-10.563380,1.131474,0.0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,NaN

In [5]:
data.columns

Index(['DateTime', 'Open', 'High', 'Low', 'Close', 'Ticks(from bar)',
       'Volume(from bar)', 'Trades', 'Buy trades', 'Sell trades', 'Volume',
       'Buy volume', 'Buy volume, %', 'Sell volume', 'Sell volume, %', 'Delta',
       'Delta, %', 'Average size', 'Average buy size', 'Average sell size',
       'Max one trade Vol.', 'Max one trade Vol, %', 'Filt. volume',
       'Filt. volume, %', 'Filt. buy volume', 'Filt. buy volume, %',
       'Filt. sell volume', 'Filt. sell volume, %', 'Unnamed: 28'],
      dtype='object')

## Basic datetime split / column name cleaning

In [6]:
#Clean up column names
data.columns = [x.strip() for x in data.columns]

#Clean up inner values within columns ... odd whitespaces are always present 
data['DateTime'] = data['DateTime'].str.strip()
#data['Session'] = data['Session'].str.strip()
#data['Time'] = data['Time'].str.strip()

temp = data['DateTime'].str.split(' ', expand=True)

data.drop(columns=['DateTime', 'Unnamed: 28'], inplace=True)

In [7]:
temp.head()

            0         1   2       3
0  10/17/2021   9:45:00  PM  -05:00
1  10/17/2021   9:50:00  PM  -05:00
2  10/17/2021   9:55:00  PM  -05:00
3  10/17/2021  10:00:00  PM  -05:00
4  10/17/2021  10:05:00  PM  -05:00

In [8]:
temp.columns

RangeIndex(start=0, stop=4, step=1)

## get military time and concat

In [9]:
# Combine date, time, and AM/PM into a new datetime column
temp['datetime'] = pd.to_datetime(temp[1] + ' ' + temp[2] + ' ' + temp[3]).dt.strftime('%H:%M:%S')

# Drop unnecessary columns (keep only the first column and the new datetime column)
temp = temp[[0, 'datetime']]

print(temp)

/var/folders/rh/bp1_zwxj76z6nrtwmrl525600000gn/T/ipykernel_82532/2416966529.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  temp['datetime'] = pd.to_datetime(temp[1] + ' ' + temp[2] + ' ' + temp[3]).dt.strftime('%H:%M:%S')

                 0  datetime
0       10/17/2021  21:45:00
1       10/17/2021  21:50:00
2       10/17/2021  21:55:00
3       10/17/2021  22:00:00
4       10/17/2021  22:05:00
...            ...       ...
212817  10/16/2024  21:35:00
212818  10/16/2024  21:40:00
212819  10/16/2024  21:45:00
212820  10/16/2024  21:50:00
212821  10/16/2024  21:55:00

[212822 rows x 2 columns]

In [10]:
data = pd.concat([data, temp], axis=1)
data.rename(columns={0:'Date', 'datetime':'Time'}, inplace=True)

## Last bit of column name replacements and drop unecessary columns

In [11]:
#remove parenthesis, and word from, replace with _
data.columns = data.columns.str.replace('(from ', '_').str.replace(')', '')

#remove ', ' replace with _percent
data.columns = data.columns.str.replace(', ', '_percent')

#remove '.' replace with nothing
data.columns = data.columns.str.replace('.', '')


#replace all ' ' with '_'
data.columns = data.columns.str.replace(' ', '_')

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212822 entries, 0 to 212821
Data columns (total 29 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Open                        212822 non-null  float64
 1   High                        212822 non-null  float64
 2   Low                         212822 non-null  float64
 3   Close                       212822 non-null  float64
 4   Ticks_bar                   212822 non-null  int64
 5   Volume_bar                  212822 non-null  int64
 6   Trades                      212822 non-null  int64
 7   Buy_trades                  212822 non-null  int64
 8   Sell_trades                 212822 non-null  int64
 9   Volume                      212822 non-null  int64
 10  Buy_volume                  212822 non-null  int64
 11  Buy_volume_percent%         212822 non-null  float64
 12  Sell_volume                 212822 non-null  int64
 13  Sell_volume_percent%        212822 non-null  float64
 14  Delta                       212822 non-null  int64
 15  Delta_percent%              212822 non-null  float64
 16  Average_size                212822 non-null  float64
 17  Average_buy_size            212822 non-null  float64
 18  Average_sell_size           212822 non-null  float64
 19  Max_one_trade_Vol           212822 non-null  int64
 20  Max_one_trade_Vol_percent%  212822 non-null  float64
 21  Filt_volume                 212822 non-null  int64
 22  Filt_volume_percent%        212822 non-null  float64
 23  Filt_buy_volume             212822 non-null  int64
 24  Filt_buy_volume_percent%    212822 non-null  float64
 25  Filt_sell_volume            212822 non-null  int64
 26  Filt_sell_volume_percent%   212822 non-null  float64
 27  Date                        212822 non-null  object
 28  Time                        212822 non-null  object
dtypes: float64(14), int64(13), object(2)
memory usage: 47.1+ MB

In [13]:
data.describe()

,Open,High,Low,Close,Ticks_bar,Volume_bar,Trades,Buy_trades,Sell_trades,Volume,Buy_volume,Buy_volume_percent%,Sell_volume,Sell_volume_percent%,Delta,Delta_percent%,Average_size,Average_buy_size,Average_sell_size,Max_one_trade_Vol,Max_one_trade_Vol_percent%,Filt_volume,Filt_volume_percent%,Filt_buy_volume,Filt_buy_volume_percent%,Filt_sell_volume,Filt_sell_volume_percent%
count,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000,212822.000000
mean,15089.513158,15096.867534,15081.989653,15089.522919,2014.224634,2215.924834,2014.224629,0.000385,0.000324,2215.924829,1106.782569,50.009286,1109.010793,49.982120,-2.228224,0.027166,1.095935,0.000010,0.000011,0.000019,0.000022,0.000733,0.000862,0.000390,0.000506,0.000343,0.000356
std,2710.582719,2710.145333,2710.932231,2710.596896,2994.459517,3302.356725,2994.459520,0.132812,0.124617,3302.356728,1652.085232,6.135021,1658.503326,6.134451,235.274794,12.267622,0.056796,0.003416,0.003531,0.006855,0.007159,0.265978,0.282332,0.134761,0.170397,0.133077,0.117124
min,10508.500000,10528.500000,10484.750000,10508.000000,6.000000,6.000000,6.000000,0.000000,0.000000,6.000000,1.000000,7.189542,1.000000,14.457831,-4738.000000,-75.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12666.812500,12675.750000,12657.750000,12666.750000,279.000000,304.000000,279.000000,0.000000,0.000000,304.000000,151.000000,46.442920,150.000000,46.419227,-55.000000,-7.101871,1.060956,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,15043.500000,15050.000000,15035.500000,15043.250000,611.000000,673.000000,611.000000,0.000000,0.000000,673.000000,337.000000,50.000000,336.000000,50.000000,0.000000,0.000000,1.085714,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,17126.750000,17129.500000,17124.000000,17127.187500,2766.000000,3029.000000,2766.000000,0.000000,0.000000,3029.000000,1509.000000,53.571429,1512.000000,53.546099,54.000000,7.144503,1.117978,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,20972.250000,20983.750000,20943.000000,20971.750000,35223.000000,38480.000000,35223.000000,55.000000,56.000000,38480.000000,20051.000000,85.542169,19314.000000,87.500000,3973.000000,71.084337,3.517241,1.218182,1.285714,3.000000,2.500000,116.000000,100.000000,56.000000,67.500000,60.000000,43.165468

In [14]:
data.drop(columns=['Average_buy_size',
       'Average_sell_size', 'Max_one_trade_Vol', 'Max_one_trade_Vol_percent%',
       'Filt_volume', 'Filt_volume_percent%', 'Filt_buy_volume',
       'Filt_buy_volume_percent%', 'Filt_sell_volume',
       'Filt_sell_volume_percent%'], inplace = True)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212822 entries, 0 to 212821
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Open                  212822 non-null  float64
 1   High                  212822 non-null  float64
 2   Low                   212822 non-null  float64
 3   Close                 212822 non-null  float64
 4   Ticks_bar             212822 non-null  int64
 5   Volume_bar            212822 non-null  int64
 6   Trades                212822 non-null  int64
 7   Buy_trades            212822 non-null  int64
 8   Sell_trades           212822 non-null  int64
 9   Volume                212822 non-null  int64
 10  Buy_volume            212822 non-null  int64
 11  Buy_volume_percent%   212822 non-null  float64
 12  Sell_volume           212822 non-null  int64
 13  Sell_volume_percent%  212822 non-null  float64
 14  Delta                 212822 non-null  int64
 15  Delta_percent%        212822 non-null  float64
 16  Average_size          212822 non-null  float64
 17  Date                  212822 non-null  object
 18  Time                  212822 non-null  object
dtypes: float64(8), int64(9), object(2)
memory usage: 30.9+ MB

In [16]:
data.tail()

,Open,High,Low,Close,Ticks_bar,Volume_bar,Trades,Buy_trades,Sell_trades,Volume,Buy_volume,Buy_volume_percent%,Sell_volume,Sell_volume_percent%,Delta,Delta_percent%,Average_size,Date,Time
212817,20306.0,20313.25,20305.00,20309.50,226,253,226,0,0,253,147,58.102767,106,41.897233,41,16.205534,1.119469,10/16/2024,21:35:00
212818,20308.5,20311.75,20304.50,20310.00,196,219,196,0,0,219,84,38.356164,135,61.643836,-51,-23.287671,1.117347,10/16/2024,21:40:00
212819,20311.0,20313.25,20307.00,20312.25,122,150,121,0,0,149,76,51.006711,73,48.993289,3,2.013423,1.231405,10/16/2024,21:45:00
212820,20311.5,20313.75,20308.25,20312.75,134,139,134,55,56,139,67,48.201439,72,51.798561,-5,-3.597122,1.037313,10/16/2024,21:50:00
212821,20312.0,20314.25,20310.50,20313.50,40,40,40,27,13,40,27,67.500000,13,32.500000,14,35.000000,1.000000,10/16/2024,21:55:00

In [17]:
data.columns

Index(['Open', 'High', 'Low', 'Close', 'Ticks_bar', 'Volume_bar', 'Trades',
       'Buy_trades', 'Sell_trades', 'Volume', 'Buy_volume',
       'Buy_volume_percent%', 'Sell_volume', 'Sell_volume_percent%', 'Delta',
       'Delta_percent%', 'Average_size', 'Date', 'Time'],
      dtype='object')

# Algo to gather trades and results:

get first 5m candle
if high of candle is touched 1 tick above we enter at a position, with the SL being at the low of the 5m candle then we get stopped 
vice versa for shorts 

whatever the stop size is... that is the size for the TP as well... 1:1 RR

after SL or TP, trade is done and we move onto the next day

algo design:
    
will need the use of vectorized functions, a loop would take too long on this size... and this would also improve my programming skill

perhaps i can group by sessions and then run paramterized vector on that with for loops for each session

if no trade in session (the whole thing is within 5m!!!) then ignore day... 
if trade but ends up in the 5m candle, just take difference of close and then entry to find the profit of points.



first i can get rid of gbx sessions... we can keep premarket within and hour but stop at 4:10 PM EST.
so 8:25AM - 4:10PM.

the group the sessions together

then run above algo

In [26]:
#first make new df for only necessary columns needed for this algo 
setup_data = data[['Date', 'Time', 'Open', 'High', 'Low', 'Close']].copy()

#initialize session column
setup_data['Session'] = ''

In [27]:
#initialize datetime column for time columns
setup_data['DateTime'] = pd.to_datetime(setup_data['Time'], format='%H:%M:%S').dt.time

In [28]:
#classifies time and returns string labels for the session
def getSession(t):
    if t >= pd.to_datetime('09:30:00').time() and t < pd.to_datetime('16:10:00').time():
        return 'RTH'
    else:
        return 'GBX'
    
#apply the getSession function to dataframe 
setup_data['Session'] = setup_data['DateTime'].apply(getSession)

In [29]:
#print(setup_data.iloc[130:160])

In [30]:
#Get indexes of sessions to drop
index_to_drop = setup_data[setup_data['Session'] == 'GBX'].index

#drop rowsa
setup_data = setup_data.drop(index=index_to_drop)

In [31]:
#now group by dates and then by time
setup_data_backup = setup_data.copy(deep=True) 
#group by dates and sessions
setup_data = setup_data.groupby(['Date', 'Session'])

In [32]:
setup_data.head()

,Date,Time,Open,High,Low,Close,Session,DateTime
141,10/18/2021,09:30:00,15076.50,15092.75,15060.25,15061.00,RTH,09:30:00
142,10/18/2021,09:35:00,15061.25,15088.00,15052.00,15083.25,RTH,09:35:00
143,10/18/2021,09:40:00,15083.00,15117.75,15074.75,15111.25,RTH,09:40:00
144,10/18/2021,09:45:00,15111.00,15135.50,15105.25,15135.00,RTH,09:45:00
145,10/18/2021,09:50:00,15134.75,15144.00,15125.00,15128.00,RTH,09:50:00
...,...,...,...,...,...,...,...,...
212684,10/16/2024,09:30:00,20352.50,20357.25,20300.25,20302.50,RTH,09:30:00
212685,10/16/2024,09:35:00,20302.50,20309.25,20269.25,20270.50,RTH,09:35:00
212686,10/16/2024,09:40:00,20270.25,20307.25,20241.75,20245.75,RTH,09:40:00
212687,10/16/2024,09:45:00,20245.00,20259.50,20227.75,20248.00,RTH,09:45:00
212688,10/16/2024,09:50:00,20248.50,20249.50,20218.00,20244.75,RTH,09:50:00

# Now to run algo